<h1>Artists</h1>

<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist_path(artist), class: "artist_name" %>
    </li>
  <% end %>
</ul>


<p>
  <%= link_to "Create New Artist!", new_artist_path %>
</p>

<div class="footer">
  <div>
    <%= link_to "Artists", artists_path %>
    <%= link_to "Bands", bands_path %>
    <%= link_to "Songs", songs_path %>
  </div>
  <div class ="under_foot">
    <%= link_to "THROB", root_path %>
  </div>
</div>