<h1>Create a new artist!</h1>

<%= form_for @artist do |f| %>
  <%= f.label :name, "What is the artist's name?" %>
  <%= f.text_field :name, placeholder: "artist name here" %>
  <br>
  <%= f.label :band_id, "What is the name of your artist's band?" %>
  <%= f.collection_select(:band_id, Band.all, :id, :name) %>

  <%= f.file_field :photo %>

  <%= f.submit "Submit" %>
<% end %>