<h1>Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to song.name, song_path(song), class: "song_name" %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "new song", new_song_path %>
</p>

<div class="footer">
  <div>
    <%= link_to "Artists", artists_path %>
    <%= link_to "Bands", bands_path %>
    <%= link_to "Songs", songs_path %>
  </div>
  <div class ="under_foot">
    <%= link_to "THROB", root_path %>
  </div>
</div>